<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Guitar Player</title>
</head>

<body clas="index-page">

    <div class="banner-image">
        <a href="index.ejs">

        </a>
        <%- include ('partials/nav') %>
            <h1 class="title">Contact Us</h1>
            <ul class="contact-list">
                <li>
                    778-650-2123
                </li>
                <li>
                    guitarhero@gmail.com
                </li>
                <li>
                    Follow Us: Guitar Hero
                </li>

            </ul>
    </div>


</body>

</html>